/* lightening color */
#page {
  color: #6699cc;
}

/* darknening color */
body {
  color: black;
}

/* saturate */
.sidebar {
  color: black;
}

/* adjust hue */
.sidebar {
  color: black;
}

/* mixing colors */
body {
  color: maroon;
}
