.product-title {
  color: #336699;
  font-family: helvetica, arial, sans-serif;
  font-size: 20px;
  font-variant: small-caps;
}

/* Mixins with local variables */
.heading-news-title {
  color: #336699;
  font-family: helvetica, arial, sans-serif;
  font-size: 2rem;
  font-variant: small-caps;
}

/* Mixins with default values */
.text_with_def_value {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  font-size: 22px;
}

/* change the default value */
.change-def-value {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #c6c6c6;
  font-size: 6rem;
}

/* mixins of rounded borders for different browersers */
.header {
  -moz-border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
  -khtml-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
  border-radius: 5px 5px;
  border: 3px #336699 solid;
}

/* Mixin for cross browersers opacity */
h1 {
  filter: alpha(opacity=60);
  /* IE 5-9+ */
  opacity: 0.6;
}

/* changing the value of filter */
p {
  filter: alpha(opacity=2000);
  opacity: 20;
}
